absl-py
accelerate
aiohappyeyeballs
aiohttp
aiosignal
alembic
alpha_vantage
amqp
anaconda
annotated-types
anyio
appnope
argcomplete
argon2-cffi
argon2-cffi-bindings
arrow
asgiref
asttokens
astunparse
async-lru
attrs
automaton
autopage
awscli
Babel
bcrypt
beautifulsoup4
bleach
blinker
blis
boto3
botocore
cachetools
catalogue
certifi
cffi
cfn-flip
charset-normalizer
click
cliff
cloudpathlib
cmd2
colorama
comm
confection
contourpy
cryptography
cycler
cymem
datasets
DateTime
debtcollector
debugpy
decorator
defusedxml
dill
distro
Django
django-otp
dnspython
docutils
dogpile.cache
durationpy
es_core_news_sm @ https://github.com/explosion/spacy-models/releases/download/es_core_news_sm-3.8.0/es_core_news_sm-3.8.0-py3-none-any.whl#sha256=e451a83d6df79b87e9eed0cb553f03e99e36a3bab18a7b79f0dcfd1fdf875e12
eventlet
executing
Faker
fastapi
fasteners
fastjsonschema
filelock
Flask
flatbuffers
fonttools
fqdn
frozendict
frozenlist
fsspec
futurist
gast
google-pasta
greenlet
grpcio
h11
h5py
hjson
html5lib
httpcore
httpx
huggingface-hub
idna
importlib_metadata
ipykernel
ipython
iso8601
isoduration
itsdangerous
jedi
Jinja2
jiter
jmespath
joblib
json5
jsonpatch
jsonpointer
jsonschema
jsonschema-specifications
jupyter-events
jupyter-lsp
jupyter_client
jupyter_core
jupyter_server
jupyter_server_terminals
jupyterlab
jupyterlab_pygments
jupyterlab_server
kappa
keras
keystoneauth1
keystonemiddleware
kiwisolver
kombu
langchain
langchain-core
langchain-text-splitters
langcodes
langsmith
language_data
libclang
logutils
lxml
magnum
Mako
mangum
marisa-trie
Markdown
markdown-it-py
MarkupSafe
matplotlib
matplotlib-inline
mdurl
mistune
ml-dtypes
mpmath
msgpack
multidict
multiprocess
multitasking
murmurhash
namex
nbclient
nbconvert
nbformat
nest-asyncio
netaddr
netifaces
networkx
notebook
notebook_shim
openai
openstacksdk
opt_einsum
optree
orjson
os-client-config
os-service-types
osc-lib
oslo.cache
oslo.concurrency
oslo.config
oslo.context
oslo.db
oslo.i18n
oslo.log
oslo.messaging
oslo.metrics
oslo.middleware
oslo.policy
oslo.reports
oslo.serialization
oslo.service
oslo.upgradecheck
oslo.utils
oslo.versionedobjects
outcome
overrides
packaging
pandas
pandocfilters
parso
Paste
PasteDeploy
pbr
pecan
peewee
pexpect
pika
pillow
placebo
platformdirs
polars
preshed
prettytable
prometheus_client
prompt_toolkit
protobuf
psutil
ptyprocess
pure-eval
pyarrow
pyasn1
pycadf
pycparser
pydantic
pydantic_core
pydot
Pygments
PyJWT
PyMuPDF
PyMuPDFb
pyOpenSSL
pyparsing
pyperclip
pypng
PySocks
python-barbicanclient
python-cinderclient
python-dateutil
python-dotenv
python-glanceclient
python-heatclient
python-json-logger
python-keystoneclient
python-neutronclient
python-novaclient
python-octaviaclient
python-openstackclient
python-slugify
python-swiftclient
pytz
PyYAML
pyzmq
qrcode
referencing
regex
repoze.lru
requests
requestsexceptions
rfc3339-validator
rfc3986
rfc3986-validator
rich
Routes
rpds-py
rsa
s3transfer
safetensors
scikit-learn
scipy
selenium
Send2Trash
setuptools
shellingham
simplegeneric
six
smart-open
sniffio
sortedcontainers
soupsieve
spacy
spacy-legacy
spacy-loggers
SQLAlchemy
sqlparse
srsly
stack-data
starlette
statsd
stevedore
sympy
taskflow
tenacity
tensorboard
tensorboard-data-server
tensorflow
termcolor
terminado
testresources
testscenarios
testtools
text-unidecode
thinc
threadpoolctl
tinycss2
tokenizers
toml
torch
tornado
tqdm
traitlets
transformers
trio
trio-websocket
troposphere
typer
types-python-dateutil
tzdata
uri-template
urllib3
uvicorn
vine
warlock
wasabi
wcwidth
weasel
webcolors
webencodings
WebOb
websocket-client
Werkzeug
wheel
wrapt
WSME
wsproto
xgboost
xxhash
yahoofinance
yapp
yarl
yfinance
zappa
zipp
zope.interface
